<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../static/index.css">
</head>
<body>


	<div class="div" id="div">
		
		<form class="form" id="form" action="mail" method="post">
			<label>To : </label> <input type="email" name="email"> <label>Subject
				: </label> <input type="text" name="subject"> <label>Message
				: </label>
			<textarea name="message" cols="21" rows="5"></textarea>
			<button>Send</button>
			<h1 style="color: green" th:text="${success}"></h1>
			<h1 style="color: red" th:text="${failure}"></h1>
		</form>



		<div class="form" id="form">

			<form action="otp" method="post">
				<label>To : </label> <input type="email" name="email"> <label>Subject
					: </label> <input type="text" name="subject">
				<button>Send OTP</button>
				<h1 style="color: green" th:text="${success1}"></h1>
				<h1 style="color: red" th:text="${failure1}"></h1>
			</form>

			<br>
			<form action="match" th:if="${otp}" method="post">
				<input type="hidden" name="mailotp" th:value="${otp}"> <input
					type="number" name="otp" placeholder="Enter OTP">
				<button>Submit</button>
				<h1 style="color: green" th:text="${match}"></h1>
			</form>
		</div>



		<div class="form" id="form">

			<form action="mobile" method="post">
				<label>Mobile Number : </label> <input type="tel" name="mobile">

				<button>Send OTP</button>
				<h1 style="color: green" th:text="${res}"></h1>
			</form>

			<br>
			<form action="motp" th:if="${motp}" method="post">
				<input type="hidden" name="mailotp" th:value="${motp}"> <input
					type="number" name="otp" placeholder="Enter OTP">
				<button>Submit</button>
				<h1 style="color: green" th:text="${match}"></h1>
			</form>
		</div>




	</div>

</body>
</html>